/* General Styling */

* {
  box-sizing: border-box;
  background-color: #EBEBF2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* CSS variables */

:root {
  --light:#9CD9D9;
  --dark:#25204C;
}


/* Navigation Styling */

h1 {
 display: flex;
 background-color:var(--light);
 color: var(--dark);
 font-size: 32px;
 padding-left: 2rem;
 padding-right: 1rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  height: 4rem;
  background-color: var(--dark);

}

.navigation {
  display: flex;
  padding-right: 2rem;
  background-color:var(--dark);

}

.navigation a {
  padding: 4px;
  margin-top: 0.5rem;
  font-size: 14px;
  color:var(--light);
  background-color:var(--dark);
  text-decoration: none;
  margin: 3px;
  border-bottom: 2px solid var(--light);

}

/* Hero-banner */

.hero-banner h2 {

  background-color: var(--light);

}

.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 6rem;
  padding: 15px 60px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: 105%;
  background-repeat: no-repeat;
}
.subtitle h2 {
  color: var(--dark);
}

/* main section styling */

.page-wrapper {

  display: flex;
  flex-direction: column;
  width: 100%;
}

#title {
  color:var(--dark);
  font-size: 40px;
  text-align: right;
  border-right: 2px solid var(--dark);
  margin: 15px;
  padding: 10px;
  width: 200px;
}
.about-me-title {
  color:var(--dark);
  font-size: 40px;
  text-align: right;
  border-right: 2px solid var(--dark);
  margin: 15px;
  padding: 10px;
  width: 205px;

}

/* about me */

#about {
  display: flex;
  width: 100%;
}

p {
  font-size: 12px;
  margin: 10px;
  padding: 2px;
}

/* portfolio container */

#work {
  display: flex;
  width: 100%;
}

.portfolio-grid {
  width: 80%;
  margin-left: 15px;
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 3fr 3fr;
  grid-template-areas:
    "surf-report surf-report"
    "surf-report surf-report"
    "led-wall calculator"
    "pastel-puzzles run-buddy"
}

.portfolio-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 3px solid var(--light);

}

.heading {
  background-color: var(--light);
  font-size: 16px;
  position: relative;
  margin-bottom: 10px;
  margin-right: 85%;
}

#surf-report {
  grid-area: surf-report;
  background-image: url(../images/02-portfolio-4.jpg);
}

#surf-report:hover {
  opacity: 0.6;

}
#led-wall {
  grid-area: led-wall;
  background-image: url(../images/02-portfolio-1.jpg);
}

#led-wall:hover {
  opacity: 0.6;
}

#calculator {
  grid-area: calculator;
  background-image: url(../images/02-portfolio-2.jpg);
}

#calculator:hover {
  opacity: 0.6;
}

#pastel-puzzles {
  grid-area: pastel-puzzles;
  background-image: url(../images/02-portfolio-3.jpg);
}
#pastel-puzzles:hover {
  opacity: 0.6;
}

#run-buddy {
  grid-area: run-buddy;
  background-image: url(../images/02-run-buddy.jpg);
}

#run-buddy:hover {
  opacity: 0.6;
}

/* contact */

#contact {
  display: flex;

}

#link a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
  margin: 60px;
  border-bottom: 2px solid var(--dark);

}

#link {
  padding: 70px 40px;
}

   



/* Small devices ( phones, 600px ) */
@media only screen and (max-width: 600px) {

}

