/* General Styling */

* {
  box-sizing: border-box;
  background-color: #EBEBF2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
 

/* Navigation Styling */

h1 {
  display: flex;
  background-color: #9CD9D9;
  color:black;
  font-size: 32px;
  padding-left: 2rem;
  padding-right: 1rem;
  
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  height: 4rem;
  background-color:#353840;
  
}
 
 .navigation {
  display: flex;
  padding-right: 2rem;
  background-color: #353840;

 } 

.navigation a {
  padding: 4px;
  margin-top: 0.5rem;
  font-size: 14px;
  color: #9CD9D9;
  background-color: #353840;
  text-decoration: none;
  margin: 3px;
  border-bottom: 2px solid #9CD9D9;

}

/* Hero-banner */

.hero-banner h2 {

  background-color: #9CD9D9;
  
}

.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 6rem;
  padding: 15px 60px ;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: 105%;
  background-repeat:no-repeat;
}

/* main section styling */

.page-wrapper {

  display: flex;
  flex-direction: column;
  width: 100%;
}

#about {
  display: flex;
  width: 100%;
}

#title {
  font-size: 40px;
  text-align: right;
  border-right: 2px solid #353840;
  margin: 15px;
  padding: 10px;
  width: 200px;
}

p {
  font-size: 12px;
  margin: 10px;
  padding: 2px;
}

#work {
  display: flex;
  width: 100%;
}

.portfolio-grid {
width: 80%;
margin-left: 15px;
display: grid;
grid-template-rows: 150px 150px 150px 150px;
grid-template-columns: 3fr 3fr;
grid-template-areas: 
"surf-report surf-report"
"surf-report surf-report"
"led-wall calculator"
"pastel-puzzles run-buddy"
}

.portfolio-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 3px solid #9CD9D9;
 
}

.heading {
  background-color:#9CD9D9;
    padding: 20px;
    height: 30px;
    width: 100px;
    color: black;
    font-size: 16px;
   margin-bottom: 10px;
   margin-right: 50px;
   
   
 
   
}

#surf-report {
  grid-area: surf-report;
  background-image: url(../images/02-portfolio-4.jpg);
}

#led-wall {
  grid-area: led-wall;
  background-image: url(../images/02-portfolio-1.jpg);
}

#calculator {
  grid-area: calculator;
  background-image: url(../images/02-portfolio-2.jpg);
}

#pastel-puzzles {
  grid-area: pastel-puzzles;
  background-image: url(../images/02-portfolio-3.jpg);
}

#run-buddy {
  grid-area: run-buddy;
  background-image: url(../images/02-run-buddy.jpg);
}

#contact {
  display: flex;

}

#link a {
font-size: 14px;
text-decoration: none;
padding: 5px;
margin: 60px;
border-bottom: 2px solid navy;

}

#link {
  padding: 70px 40px;
}

